/* .topicbutton {
  align-self: center;
} */

/* .btn-outline-dark,
.btn-outline-dark:hover,
.btn-outline-dark:active,
.btn-outline-dark:visited,
.btn-outline-dark:focus {
  background-color: #eee;
  border-color: #ffa900;
} */
/* 
.btn-outline-dark {
  color: #000000;
  background-color: #b5aaaa;
  border-color: #ffa900;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark:active,
.btn-outline-dark.active,
.open .dropdown-toggle.btn-outline-dark {
  color: #000000;
  background-color: #f0f0f0;
  border-color: #ffa900;
}

.btn-outline-dark:active,
.btn-outline-dark.active,
.open .dropdown-toggle.btn-outline-dark {
  background-image: none;
}

.btn-outline-dark.disabled,
.btn-outline-dark[disabled],
fieldset[disabled] .btn-outline-dark,
.btn-outline-dark.disabled:hover,
.btn-outline-dark[disabled]:hover,
fieldset[disabled] .btn-outline-dark:hover,
.btn-outline-dark.disabled:focus,
.btn-outline-dark[disabled]:focus,
fieldset[disabled] .btn-outline-dark:focus,
.btn-outline-dark.disabled:active,
.btn-outline-dark[disabled]:active,
fieldset[disabled] .btn-outline-dark:active,
.btn-outline-dark.disabled.active,
.btn-outline-dark[disabled].active,
fieldset[disabled] .btn-outline-dark.active {
  background-color: #b5aaaa;
  border-color: #ffa900;
}

.btn-outline-dark .badge {
  color: #b5aaaa;
  background-color: #000000;
} */
