<section style="background-color: #eee">
  <div class="container py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 col-lg-8 col-xl-6">
        <div class="card">
          <div
            class="card-header d-flex justify-content-between align-items-center p-3"
            style="border-top: 4px solid #ffa900"
          >
            <h5 class="mb-0">Chatbot</h5>
            <div class="d-flex flex-row align-items-center">
              <i class="fas fa-minus me-3 text-muted fa-xs"></i>
              <i class="fas fa-comments me-3 text-muted fa-xs"></i>
              <i class="fas fa-times text-muted fa-xs"></i>
            </div>
          </div>
          <div
            #scrollMe
            class="card-body"
            data-mdb-perfect-scrollbar="true"
            style="position: relative; height: 500px; overflow: scroll"
            [scrollTop]="scrollMe.scrollHeight"
          >
            <div *ngFor="let item of appService.messageArray">
              <div class="item" *ngIf="item.name == 'bot'">
                <div class="d-flex justify-content-between">
                  <p class="small mb-1">ChatBot</p>
                </div>
                <div class="d-flex flex-row justify-content-start">
                  <img
                    src="https://as1.ftcdn.net/v2/jpg/01/93/99/80/1000_F_193998027_0qmOrqCejnWoj6liueIilAr2yAqilCtc.jpg"
                    alt="avatar 1"
                    style="width: 45px; height: 100%"
                  />
                  <div>
                    <p
                      class="small p-2 ms-3 mb-3 rounded-3"
                      style="background-color: #f5f6f7"
                    >
                      {{ item.message }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="item right" *ngIf="item.name == 'user'">
                <div class="msg">
                  <div class="d-flex justify-content-end">
                    <p class="small mb-1">You</p>
                  </div>

                  <div class="d-flex flex-row justify-content-end mb-1 pt-1">
                    <div>
                      <p
                        class="small p-1 me-3 mb-1 text-white rounded-3 bg-warning"
                      >
                        {{ item.message }}
                      </p>
                    </div>
                    <img
                      src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                      alt="avatar 1"
                      style="width: 45px; height: 100%"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="card-footer text-muted d-flex justify-content-start align-items-center p-3"
          >
            <div class="input-group mb-0">
              <input
                class="form-control"
                id="input"
                type="text"
                placeholder="Type your message"
                autocomplete="off"
                [(ngModel)]="message"
                (keyup.enter)="sendMessage()"
                required
              />

              <!-- <button
                class="btn btn-warning"
                type="button"
                style="padding-top: 0.55rem;"
              > -->
              <!-- Send -->
              <!-- </button> -->
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-2 col-lg-2 col-xl-2 d-flex topicbutton">
        <div
          class="btn-group btn-group-vertical align-items-center justify-content-center"
          role="group"
          aria-label="Basic radio toggle button group"
          [(ngModel)]="topic"
          name="buttongroup"
          ngDefaultControl
        >
          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio1"
            autocomplete="off"
            checked
            value="All"
          />
          <label class="btn btn-outline-dark" for="btnradio1">
            All
          </label>

          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio2"
            autocomplete="off"
            value="Politics"
          />
          <label class="btn btn-outline-dark" for="btnradio2">
            Politics
          </label>

          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio3"
            autocomplete="off"
            value="Technology"
          />
          <label class="btn btn-outline-dark" for="btnradio3">
            Technology
          </label>

          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio4"
            autocomplete="off"
            value="Environment"
          />
          <label class="btn btn-outline-dark" for="btnradio4">
            Environment
          </label>

          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio5"
            autocomplete="off"
            value="Education"
          />
          <label class="btn btn-outline-dark" for="btnradio5">
            Education
          </label>

          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio6"
            autocomplete="off"
            value="Healthcare"
          />
          <label class="btn btn-outline-dark" for="btnradio6">
            Healthcare
          </label>
        </div>
      </div> -->
    </div>
  </div>
</section>
